<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="4.7.25104.5739" targetFramework="net47" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net47" />
  <package id="NLog" version="6.0.4" targetFramework="net47" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net47" />
  <package id="NLog.Schema" version="6.0.4" targetFramework="net47" />
</packages>